[Desktop Entry]
Version=1.0
Type=Application
Name=AppImage Demo Qt5
Comment=Qt Quick Controls 2 Application
TryExec=appimage-demo-qt5
Exec=appimage-demo-qt5
Icon=appimage-demo-qt5
MimeType=image/x-foo;
Categories=Utility;
